* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #37d699d2;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    color: rgb(110, 110, 110);
    
    border-radius: 25px;


    .line {
        float: left;
        list-style-type: none;
        margin: 0 5px;

    .actions::after{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    a {
        text-decoration: none;
        background-color: darkkhaki;
        font-size: 24px;
        border-radius: 20px;
        padding: 5px 10px;
        color: rgb(214, 82, 82);
    }
}
.line:hover {
    a {
        color: rgba(214, 82, 82, 0.164);
        background-color: rgba(189, 183, 107, 0.397);
        
    }
}
.gitStyle {
    text-decoration: none; 
    font-size: 32px; 
    font-family: sans-serif; 
    color: rgb(110, 110, 110)
}
.gitStyle:hover {
    color: rgba(110, 110, 110, 0.425);
    text-decoration: underline;
}
}
section {
    -webkit-fle: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}

article {
    -webkit-fle: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
    flex-direction: row;

    .cityList {
    list-style-type: none;
    max-width: max-content;
    
    
    .cityItem {
        display:flex; 
        flex-direction: column;
        justify-content: center;
        max-width: max-content;
        min-height:  550px;
        margin:20px 0;
        background-color: #37d699d2;
        padding: 20px;
        border-radius: 20px;
        text-decoration: none;

    p {
        max-width: max-content;
        font-size: 16px;
        text-align: justify;
    }
    h1 {
        margin: 10px ;
        font-size: 36px;
        text-align: center;
    }
    img{
        display: flex;
        border: 3px solid;
        border-radius: 20px;
        min-width: max-content;


    }
        
        
    }
}
}
footer {
    background-color: #37d699d2;;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 600px){
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    gap: 40px; 
    display: flex;
    flex-direction: row;
    justify-content: center;

    .navItem {
        text-align: center;
    }
    h1 {
        margin:0px;
        text-align: center;
        font-size: 28px;

    }
    img {
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 50%;
        border: 4px solid;
        border-color: #d88a41;
    }
    P {
        color: darkcyan;
        font-size: 14px;
    }
    
}

.goBackBtn {
    
    img {
        border: 4px solid;
        border-color: #d88a41;
        border-radius: 50%;
        margin: 10px;
        padding: 5px;
        height: 60px;
        width: 60px;
    }
}

.customFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    border-radius: 20px;

    .footerActions {
        display: flex; 
        flex-direction: row; 
        list-style-type: none;
        gap: 10px; 

    }

}